@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background: #f6f4f2;
}

/* headings and logo */

h1, h2 {
    font-family: "lato", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: darkolivegreen;
}

.services {
    text-align: center;
    margin: 0px auto;
    padding-bottom: 30px;
    font-size: 280%;
    text-decoration: underline;
    line-height: 3px;
   
}

.why-its-important {
    text-align: center;
    margin: 0px auto;
    padding-bottom: 30px;
    font-size: 200%;
}

#contact-us {
    text-align: center;
    margin: 10px auto;
    padding-bottom: 30px;
    font-size: 280%;
    text-decoration: underline;
    color: #fff;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid rgb(85, 107, 47) ;
}

.active {
    border-bottom: 2px solid rgb(85, 107, 47);
}

/* hero image and cover text box */

#hero-image {
    height: 500px;
    width: 100%;
    background: url(../images/green-fingers-hero-image\ \(1\).png) no-repeat center center;
    overflow: hidden;

    position: relative;
}

#cover-text h2, h3 {
    color: #fff;
    text-align: center;

}

#cover-text {
    font-size: 130%;
    font-family: "lato", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 400px;
    height: 100px;
    padding-top: 10;
    padding-right: 10px;
    padding-left: 10px;

    background-color: rgb(85, 107, 47, .7);

    bottom: 300px;
    left: 150px;

    position: relative;
}

/* service sections */

#service-parent {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 20px;

}

#service-box {
    height: 200px;
    position: relative;
}

#service-parent > div {
    padding: 10px;
    background-color: darkolivegreen;
    border-style: solid;
    border-color: #3a3a3a;
}

#service-parent h2 {
    font-weight: bold;
    color: #fff;
    text-align: center;
}

#service-parent p {
    color: #fff;
    text-align: center;
    padding-top: 20%;
}

.why-important {
    height: 0 auto;
    margin: 0px auto;
    width: 100%;
    
    background-image: url(../images/why\ lawn\ care\ is\ important.png);
}

.video-center {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    clear: both;
}

.video-center iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* contact section */

.contact-section {
    background-image: url(../images/contact-green-fingers.png);
    width: 100%;
    padding: 40px 0;
}

.contact-section h2 {
    text-align: center;
    color: darkolivegreen;
    font-size: 200%;
}

.border {
    width: 100px;
    height: 10px;
    background: #683704;
    margin: 40px auto;    
}

.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #3a3a3a;
    padding: 20px 40px;
    outline: none;
    color: #fff;
    transition: 0.5s;
}

.contact-form-text:focus {
    box-shadow: 0 0 10px 4px #683704;
}

textarea.contact-form-text {
    resize: none;
    height: 120px;
}

.contact-form-btn {
    float: right;
    font-weight: 600;
    border: 0;
    background: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn:hover {
    background: #683704;
    color: #fff;

}

/* footer */

footer {
    height: 100px;
    background: #683704;

}

.social-icons {
    text-align: center;
}

.social-icons > li {
    display: inline;
}

.social-icons i {
    font-size: 160%;
    margin: 0;
    padding: 1%;
    color: #fff;
}

.social-icons p {
    color:#fff;
    margin: 0;
} 

/* service page */

#service-layout {
    clear: both;
}

.service-text {
    text-align: center;
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.services-heading {
    text-align: center;
    color: darkolivegreen;
    text-decoration: underline #683704;
}

details > summary {
    color: #683704;
}

.service-p {
    text-align: center;
    max-width: inherit;
}

.iframe {
    width: 80%;
}

/* contact page */

#contact-section {
    clear: both;
    bottom: auto;
}

.contact-text {
    text-align: center;
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

table {
    text-align: center;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    clear: both;
}

tr {
    font-size: large;
    text-align: center;
}

td {
    padding-right: 5px;
    text-align: center;
}

/* Media for medium screen sizes from 900px wide and down */

@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0;
    }
}