@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: "lato", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: darkolivegreen;
}

#logo {
    float: left;
    font-size: 280%;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid rgb(85, 107, 47) ;
}

.active {
    border-bottom: 2px solid rgb(85, 107, 47);
}

/* hero image */

#hero-image {
    height: 500px;
    width: 100%;
    background: url(../images/green-fingers-hero-image\ \(1\).png) no-repeat center center;
    overflow: hidden;
}