@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: "lato", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: darkolivegreen;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid rgb(85, 107, 47) ;
}

.active {
    border-bottom: 2px solid rgb(85, 107, 47);
}

/* hero image and cover text box */

#hero-image {
    height: 500px;
    width: 100%;
    background: url(../images/green-fingers-hero-image\ \(1\).png) no-repeat center center;
    overflow: hidden;

    position: relative;
}

#cover-text h2, h3 {
    color: #fff;
    text-align: center;

}

#cover-text {
    font-size: 130%;
    font-family: "lato", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 400px;
    height: 100px;
    padding-top: 10;
    padding-right: 10px;
    padding-left: 10px;

    background-color: rgb(85, 107, 47, .7);

    bottom: 300px;
    left: 150px;

    position: relative;
}

/* service box sections */

.service-parent {
    display: grid;
    padding-left: 15%;
    grid-gap: 15px;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 150px 150px 150px;
    
}

.service-parent > div {
    padding: 10px;
    background-color: darkolivegreen;
    border-style: solid;
}

.service-parent h2 {
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.service-parent p {
    color: #fff;
    text-align: center;
    padding-top: 20px;
}

